body {
    font-family: "mr-eaves-modern", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.8em;
    background: url(./images/mesh-gradient.png);
    background-color: black;
    background-size: cover;
    cursor: url(./images/cursor.png), auto !important;
    padding: 25px;
}

h1, h2, h3, h4 {
    color:rgb(255, 255, 255)
}



/* main page */

#Oliver{
    font-family: "Mina";
}

.header {
   
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

ul {
    list-style: none;
  }
  

.left,.right{
    width: 50%;
    /*padding:25px;*/
}

.left{
    text-align: left;
}
.right{
    text-align: right;
    /*opacity: .5;*/
}
.item {
    opacity: 0.5;
    transition: opacity 0.5s;
}
.item:hover{
    opacity: 1.0;
}

a {
    text-decoration: none; /* Removes underline */
    /*color: rgb(255, 255, 255); /* Sets link color */
    /* stransition: opacity 0.3s; /* Adds a transition effect */
    /*opacity: 0.5;*/
}
 /*a :hover {
     opacity: 1; /* Changes opacity to 100% on hover 
}
*/
  

.welcome{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Menu */

.menuItems {
    text-align: right;
}

h1 {
    text-align: center;
}

/* Work */

html{
    scroll-behavior: smooth;
}

.outerBox {
    background-color: black;
    height:500px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    /* could do "fit content?" */
}

.Ex1{
    background-color: rgb(249, 0, 0);
    height:300px;
    width: 30%;
    box-sizing: border-box;
    border: 20px solid black;
    padding: 10px;
}

.Ex2{
    background-color: rgb(0, 25, 249);
    height:300px;
    width: 30%;
    box-sizing: border-box;
    border: 20px solid black;
    padding: 10px;
}

.Ex3{
    background-color: rgb(0, 162, 249);
    height:300px;
    width: 30%;
    box-sizing: border-box;
    border: 20px solid black;
    padding: 10px;

}

/* Hello */

.helloTxT{
    padding: 25px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, .7);
    
}

/* Resume*/ 

.resume-container {
  display: flex;
  justify-content: center;
}
.resumePad{
  margin-left: 25px;
  margin-right: 25px;
  max-width: 90%;
}


/* Conact */

/* .contactPad{
    padding:25px;
    background-color: white;
}
*/
.contact {
    padding: 25px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, .7);

}